@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply pb-2;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

a {
  @apply text-blue-600;
}

section {
  @apply mb-5;
}

nav a {
  @apply text-gray-400 m-2;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

li {
  @apply pb-1;
}

li p {
  display: inline;
}

li ul li {
  list-style: circle;
  @apply ml-10;
}

@media print {
  html {
    font-size: 14px;
  }

  .noPrint {
    display: none;
  }
}

@page {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -30px;
  margin-right: 0px;
}

.collapsable {
  @apply border-solid border-2;
}

.btn-primary {
  @apply text-xs py-1 px-2 bg-blue-500 text-white font-semibold rounded shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

.boxed-list li {
  @apply list-none p-5 border-solid border-2;
}

.question-hilight span {
  display: none;
  @apply cursor-pointer text-gray-600;
}

.question-hilight:hover span {
  display: initial;
}

.question-hilight:hover {
  @apply border-solid border-2 w-max;
}

.question-hilight:after {
  @apply text-gray-200;
  content: "\2600"
}

.cv-page {
  @apply flex gap-8;
}

.cv-tech-list-icons {
  @apply flex flex-col gap-y-4;
  border-left: 1px solid #d8d8d8;
  padding-left: 7px;
}
.cv-tech-list-icons div {
  @apply w-5;
}

.cv-page li {
  list-style-image: url('/icons/caret-right-solid.svg');
  @apply text-2xl/4;
}

.cv-page li span {
  padding-left: 5px;
  @apply text-base;
}

.cv-avatar {
  @apply h-64 mx-auto rounded-full p-2 border border-black border-dashed;
}


.cv-icons li {
  list-style: none;
}

.cv-icons a {
  @apply flex gap-3 text-base items-center;
}

.cv-icons img {
  @apply h-4 w-4;
}

.cv-left {
  @apply basis-72 shrink-0;
  background-color: #fafafa;
  padding-top: 20px;
  padding-left: 20px;
}
.cv-left :is(h1, h2, h3, h4, h5, h6) {
  background: linear-gradient(0.25turn, #eeeeee, #fafafa);
  padding-left: 5px;

  margin-right: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0.2rem;
}
.cv-center :is(h3, h4, h5, h6) {
  background: linear-gradient(0.25turn, #f0f0f0, #ffffff);

  margin-right: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0.2rem;
}

.cv-center {
  @apply grow;
  padding-top: 20px;
}

.cv-right {
  @apply grow-0;
  padding-top: 20px;
}

.cv-experience-block {
  margin-top: 5px;
}

.cv-experience-title {
  margin-right: 10px;
}
